&lt;a href=&quot;#&quot; class=&quot;list-group-item&quot;&gt;&lt;span class=&quot;badge&quot;&gt;&times;&lt;/span&gt;&lt;i class=&quot;fa {{icon}} fa-fw&quot; style=&quot;{{style}}&quot;&gt;&lt;/i&gt; {{value}}&lt;/a&gt;