&lt;div class=&quot;list-group box-shadow--6dp&quot;&gt;
  &lt;p class=&quot;list-group-item disabled&quot; id=&quot;&quot;&gt;{{autocomplete.termsHeadline}}&lt;/p&gt;
  {{#autocomplete.terms}}
    &lt;a href=&quot;#&quot; class=&quot;list-group-item&quot;&gt;&lt;i class=&quot;fa fa-search fa-fw&quot;&gt;&lt;/i&gt;{{value}}&lt;/a&gt;
  {{/autocomplete.terms}}
  &lt;p class=&quot;list-group-item disabled&quot;&gt;{{autocomplete.topicsHeadline}}&lt;/p&gt;
  {{#autocomplete.topics}}
    &lt;a href=&quot;#&quot; class=&quot;list-group-item&quot;&gt;&lt;img class=&quot;box-shadow--2dp&quot; src=&quot;../../../../assets/img/{{image}}&quot;&gt; {{value}}&lt;/a&gt;
  {{/autocomplete.topics}}
  &lt;p class=&quot;list-group-item disabled&quot;&gt;{{autocomplete.previouslyVisitedItemsHeadline}}&lt;/p&gt;
  {{#autocomplete.previouslyVisitedItems}}
    &lt;a href=&quot;#&quot; class=&quot;list-group-item&quot;&gt;&lt;span class=&quot;badge&quot;&gt;&times;&lt;/span&gt;&lt;i class=&quot;fa {{icon}} fa-fw&quot; style=&quot;{{style}}&quot;&gt;&lt;/i&gt; {{value}}&lt;/a&gt;
  {{/autocomplete.previouslyVisitedItems}}
&lt;/div&gt;