.standard-type { font-size: 13px; font-weight: normal; }
.comment { border-bottom: 1px dashed rgba(0, 0, 0, 0.3); background-color: rgba(255, 255, 0, 0.2); }
.headline-icon { color: #BBB; }
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.results h3, .results h4 { margin-bottom: 0px; font-size: 18px; }

.rotate-45deg { transform: rotate(45deg); }

#search-row { background-color: #777; }

#topic-row { background-color: #666; }

#top-comment-row, #colophon { background-color: black; color: #AAA; font-weight: 300;}

#top-comment-row .well { color: black; /*background-color: #333;*/ }

#search-row, #search-row a { color: #FFF; }

#search-row { padding-top: 10px; padding-bottom: 10px; }

#topic-tabs { border-bottom: none; }      

#topic-tabs li:not(.active) a img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
#topic-tabs li.active a, #topic-tabs li a:hover {
  background-color: #EEE;
  border: 1px solid #DDD;
  border-bottom: none;
}

#topic-tabs li:not(.active) a:not(:hover):not(:focus) { color: #FFF; }

#topic-tabs li a:hover img, #topic-tabs li a:focus img {
  filter: none;
  -webkit-filter: none;
}

#topic-navigation-container {
  background-color: #EEE;
  border-top: 2px solid #260958;
  margin-top: -2px;
  margin-left: -15px; margin-right: -15px;
  border-bottom: 1px solid #DDD;
}

#topic-headline {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 15px; padding-right: 15px;
}

#topic-headline, #topic-headline small { 
  color: white; 
  font-weight: 200;
  text-shadow: 1px 1px 2px #000;
}

#topic-navigation p {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 15px; padding-right: 15px;
  color: white;
  font-weight: 300;
  text-shadow: 0px 1px 2px #000;
  max-width: 900px;
}

#topic-navigation a {
  color: white;
  text-decoration: underline;
}

#topic-navigation {
  margin-top: 10px;
  background-image: url(../img/thenation-com-paris_climate_protest_arc_ap_img.jpg);
  background-repeat: no-repeat;
}

#topic-nav-table {
  height: 300px;        
}

#silo-tabs > li > a:focus, #silo-tabs > li > a:hover { background-color: #FFF; }

@media(max-width: 479px) {
  .hidden-xxs { display: none; }
  .nav > li.hidden-xxs { display: none; }
}

#autocomplete-container p.list-group-item.disabled { 
	padding-top: 10px; padding-bottom: 0px; 
	border-width: 0px; border-bottom-width: 3px; 
	background-color: white;
  text-align: right;
}

#autocomplete-container a { 
	border-width: 0px; 
	padding-top: 5px; padding-bottom: 5px; 
}

#autocomplete-container {
  position: absolute;
  z-index: 1; /* See https://github.com/HubSpot/drop/issues/9 */
  width: 400px;
  display: none;
}

#autocomplete-container a {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#autocomplete-container a.active {
  color: white;
}

#autocomplete-container img { 
  border-radius: 4px;
  width: 64px;
  height: 40px;
  margin: 0px 10px 0px -2px;
}

#autocomplete-container .fa {
  color: #999;
  margin-right: 10px;
}

@media(max-width: 479px) {
  #autocomplete-container img { 
    width: 49px;
    height: 30px;
    margin: -10px 5px -8px -11px;
    border-radius: 4px;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Above: The crazy syntax checks for webkit browsers (Safari, Chrome) */
    /* See http://stackoverflow.com/a/15402558/2450941 */
    #autocomplete-container img { 
      -webkit-clip-path: inset(0px 10px 0px 10px);
      /* Above: Values are from-top, from-right, from-bottom, from-left */
      margin: -10px -5px -8px -21px;
    }
  }
  #site-nav-button { margin-left: -25px; }
  #top-comment-button { margin-right: -10px; }
}

.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.key { color: red; }
.string { color: green; }
/*
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
*/

/* Partly from search-theme.css */
.source {
  font-style: normal;
  color: rgb(0, 102, 33);
  /*white-space: nowrap;*/
  margin-bottom: 0px;
}
.timestamp {
  color: rgb(127, 127, 127);
  white-space: nowrap;
}