&lt;div class=&quot;well&quot;&gt;
  &lt;h3&gt;About&lt;/h3&gt;
  &lt;p&gt;This search result mock-up is a starting point for teams building enterprise search front ends, showing best practices. Over time I hope to store it in a Pattern Lab repository. The mock-up will then be part of a larger project with the working title &lt;strong&gt;&laquo;&lt;a href=&quot;https://github.com/bjornte/UX-patterns-for-findability/&quot;&gt;UX patterns for findability&lt;/a&gt;&raquo;&lt;/strong&gt;.&lt;/p&gt;
  &lt;p&gt;Findability is the key success factor of any search, and is the most important motivation for starting this project. To improve findability, the mock-up has an emphasis on:&lt;/p&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;span class=&quot;comment&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;Disambiguation: To identify the meaning of a word, when the word has multiple meanings.&quot;&gt;Disambiguation&lt;/span&gt; through 1) Result groups and 2) Autocomplete topics&lt;/li&gt;
    &lt;li&gt;User influenced relevancy &amp;amp; findability&lt;/li&gt;
    &lt;li&gt;User added results &amp;amp; sources&lt;/li&gt;
    &lt;li&gt;Editorial maintenance&lt;/li&gt;
    &lt;li&gt;Findability reporting&lt;/li&gt;
  &lt;/ul&gt;
  &lt;p&gt;For more on these topics, see the &lt;a href=&quot;https://github.com/bjornte/UX-patterns-for-findability/#focus-areas&quot;&gt;introduction on GitHub&lt;/a&gt;. Also see the &lt;span class=&quot;comment&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;Comments look like this.&quot;&gt;inline comments&lt;/span&gt; for more details. (&lt;a href=&quot;#&quot; id=&quot;hide-comment-button&quot;&gt;hide comments&lt;/a&gt;&lt;span style=&quot;display: none;&quot; id=&quot;hide-comment-receipt&quot;&gt;Comments are now hidden. Reload to show.&lt;/span&gt;)&lt;/p&gt;
  &lt;p&gt;Hopefully the rationale will be fleshed out in an accompanying presentation.&lt;/p&gt;
  &lt;p&gt;Content is in part sampled from &lt;a href=&quot;http://www.nrk.no&quot;&gt;NRK&lt;/a&gt; and &lt;a href=&quot;http://www.theguardian.com&quot;&gt;The Guardian&lt;/a&gt;. CSS framework: &lt;a href=&quot;http://getbootstrap.com/&quot;&gt;Bootstrap 3&lt;/a&gt;. The mock-up is intended to be hosted on Github, but that hasn't happened yet.&lt;/p&gt;

  &lt;h3&gt;Licence and author&lt;/h3&gt;
  &lt;p&gt;The mock-up is licensed under &lt;a href=&quot;http://creativecommons.org/licenses/by-sa/4.0/&quot;&gt;&lt;abbr title=&quot;Creative Commons Attribution-ShareAlike 4.0 International License&quot;&gt;CC-BY-SA&lt;/abbr&gt;&lt;/a&gt;. It is/was made by &lt;a xmlns:cc=&quot;http://creativecommons.org/ns#&quot; href=&quot;https://no.linkedin.com/in/tennoe&quot; property=&quot;cc:attributionName&quot; rel=&quot;cc:attributionURL&quot;&gt;Bj&oslash;rn Tenn&oslash;e&lt;/a&gt; of &lt;a href=&quot;http://www.mormor.it&quot;&gt;Mormor design AS&lt;/a&gt;. Work started in Feb 2016.&lt;/p&gt;

  &lt;h3&gt;To do&lt;/h3&gt;
  &lt;ul&gt;
    &lt;li&gt;Evaluate:&lt;ul class=&quot;list-inline&quot;&gt;
      &lt;li&gt;&ndash; Bootstrap 4 (&laquo;&lt;a href=&quot;https://scotch.io/bar-talk/whats-new-in-bootstrap-4&quot;&gt;What&rsquo;s New&lt;/a&gt;&raquo;, CDN: &lt;a href=&quot;https://cask.scotch.io/bootstrap-4.0.css&quot;&gt;1&lt;/a&gt;, &lt;a href=&quot;https://cask.scotch.io/bootstrap-4.0-flex.css&quot;&gt;2&lt;/a&gt;, &lt;a href=&quot;https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js&quot;&gt;3&lt;/a&gt;)&lt;/li&gt;
      &lt;li&gt;&ndash; Flexbox&lt;/li&gt;
    &lt;/ul&gt;&lt;/li&gt;
    &lt;li&gt;Flesh out:&lt;ul class=&quot;list-inline&quot;&gt;
      &lt;li&gt;&ndash; Add results (in progress)&lt;/li&gt;
      &lt;li&gt;&ndash; Findability reporting&lt;/li&gt;
      &lt;li&gt;&ndash; &laquo;About&raquo; section&lt;/li&gt;
    &lt;/ul&gt;&lt;/li&gt;
  &lt;/ul&gt;

  &lt;h3&gt;Changelog &lt;i class=&quot;fa fa-hand-spock-o&quot;&gt;&lt;/i&gt;&lt;/h3&gt;
  &lt;ul&gt;
    &lt;li&gt;March &rsquo;16&lt;ul&gt;
      &lt;li&gt;Started migration to Pattern Lab&lt;/li&gt;
      &lt;li&gt;First data-driven section (autocomplete, see the json link above)&lt;/li&gt;
      &lt;li&gt;Posted on &lt;a href=&quot;https://github.com/bjornte/search-UX-patterns&quot;&gt;Github&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;Made first contact with Elasticsearch &amp;amp; NRK&lt;/li&gt;          
    &lt;/ul&gt;&lt;/li&gt;
    &lt;li&gt;Feb &rsquo;16&lt;ul&gt;
      &lt;li&gt;First draft finished&lt;/li&gt;
      &lt;li&gt;Work started&lt;/li&gt;
    &lt;/ul&gt;&lt;/li&gt;
  &lt;/ul&gt;

  &lt;!-- &lt;p&gt;&lt;span data-toggle=&quot;tooltip&quot; data-placement=&quot;bottom&quot; title=&quot;Tooltip on bottom&quot;&gt;tooltip-example&lt;/span&gt;&lt;/p&gt; --&gt;
  &lt;!-- &lt;button class=&quot;btn btn-default&quot; data-container=&quot;body&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content=&quot;Popover content. Testing, testing.&quot; data-title=&quot;Popover title&quot;&gt;popover-example&lt;/button&gt; --&gt;
&lt;/div&gt;